[submodule "themes/kross-hugo"]
	path = themes/kross-hugo
	url = https://github.com/themefisher/kross-hugo
[submodule "themes/kross-hugo-custom"]
	path = themes/kross-hugo-custom
	url = https://github.com/Klub-mladih-Split/kross-hugo.git
